* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #000;
    width: 100%;
    margin: 0;
    font-weight: bold;
}

.container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

#mapContainer {
    width: 100%;
    height: 750px;
    border: 2px solid #444;
    margin-top: 20px;
}

.functions {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.functions .form-control {
    flex-grow: 1;
}

.dropdown, .functions button {
    flex-grow: 1;
}

.dropdown, #citySelector {
    flex: 1;
    margin-right: 15px;
}

.dropdown:last-child, #citySelector:last-child {
    margin-right: 0;
}

#darkModeToggle {
    font-size: 1.5em;
    cursor: pointer;
}

body.dark-mode {
    background-color: #121212;
    color: #fff;
}

body.dark-mode .navbar {
    background-color: #333;
    color: #fff;
}

body.dark-mode .navbar-light .navbar-nav .nav-link {
    color: rgb(24, 0, 142);
    font-weight: bold;
}

@media (max-width: 768px) {
    .functions {
        flex-direction: column;
    }

    .dropdown, #citySelector {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        height: 40px;
        font-size: 1em;
    }

    #mapContainer {
        height: 300px;
    }
}

.functions #citySelector {
    flex: 0 0 300px;
    width: 300px;
}

.navbar-expand-lg {
    width: 100%;
}

.green-square-marker {
    width: 20px;
    height: 20px;
    background-color: green;
}

.red-border, .red-border:active {
    border: 2px solid red !important;
}

@keyframes shake {
    0% { transform: translateX(-10px); }
    25% { transform: translateX(10px); }
    50% { transform: translateX(-10px); }
    75% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.3s linear;
}