/* Basic resets and body styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #000;
    width: 100%;
    margin: 0;
    font-weight: bold;
}

/* Styling for the main container */
.container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

/* Full-width map container */
#mapContainer {
    width: 100%;
    height: 750px; /* Adjust based on your requirement */
    border: 2px solid #444;
    margin-top: 20px;
}

/* Functions row styling */
.functions {
    width: 100%; /* Ensures full width */
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap in smaller screens */
    gap: 15px; /* Provides spacing between elements */
    margin-bottom: 20px;
}

/* Full width for form-control elements */
.functions .form-control {
    flex-grow: 1; /* Allows the element to grow and fill the space */
}

/* Style for dropdown and buttons to ensure equal width and alignment */
.dropdown, .functions button {
    flex-grow: 1; /* Flex grow for equal width */
}

/* Equal width for dropdown and selector, and alignment */
.dropdown, #citySelector {
    flex: 1; /* Allows equal width */
    margin-right: 15px;
}

/* Last child margin fix */
.dropdown:last-child, #citySelector:last-child {
    margin-right: 0;
}

/* Dark mode toggle button */
#darkModeToggle {
    font-size: 1.5em;
    cursor: pointer;
}

/* Dark mode specific styles */
body.dark-mode {
    background-color: #121212;
    color: #fff;
}

body.dark-mode .navbar {
    background-color: #333;
    color: #fff;
}

body.dark-mode .navbar-light .navbar-nav .nav-link {
    color: rgb(24, 0, 142);
    font-weight: bold;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .functions {
        flex-direction: column;
    }

    .dropdown, #citySelector {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    #mapContainer {
        height: 300px; /* Smaller map on smaller screens */
    }
}

/* Ensure full width for navbar */
.navbar-expand-lg {
    width: 100%;
}

.green-square-marker {
    width: 20px;
    height: 20px;
    background-color: green;
}

#searchRadiusInput {
    width: auto; /* Adjust based on your layout */
    margin-right: 10px;
}

#updateRadiusButton {
    width: auto; /* Adjust based on your layout */
}
