:root {
    --primary-color: #B18FCF;
    --secondary-color: #FF6F61;
    --accent-color: #A3D9B1;
    --text-color: #2C3E50;
    --background-color: #E8F1F5;
    --header-background-color: #D9E4E9;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    background: var(--background-color);
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

header {
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid gray;
    background: var(--header-background-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-size: 1.5rem;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-right: 10px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s;
    padding: 5px;
}

header nav ul li a:hover {
    color: var(--secondary-color);
}

section {
    padding: 20px;
    margin: 20px 0;
    scroll-snap-align: start;
    min-height: 100vh;
    padding-top: 100px;
    margin-top: -100px;
}

h1, h2, p, nav {
    color: var(--text-color);
    margin: 0;
}

#mapContainer {
    height: 640px;
    border: 2px solid #444;
    margin-top: 20px;
    width: 100%;
}

nav ul li a.active {
    color: var(--secondary-color);
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-content label {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content label:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.show {
    display: block;
}

#mapContainer {
    height: 640px;
    border: 2px solid #444;
    margin-top: 20px;
    width: 100%;
    z-index: 1;
    position: relative;
}

#map-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
}

#contact a {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

#contact a:hover {
    color: var(--secondary-color);
}

#contact i {
    margin-right: 8px;
}

#radiusSliderContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#radiusSliderContainer label {
    margin-right: 10px;
}

#addressInput {
    padding: 10px;
    margin-left: 10px;
}

#darkModeToggle {
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
}

#projects {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.project-content {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 10px;
    width: 75%;
}

.hidden {
    display: none;
}

.project-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.project-link i {
    margin-left: 5px;
    flex-shrink: 0;
}

#project-list li {
    list-style: none;
}

#project-list li:not(:last-child) {
    margin-bottom: 10px;
}

.rotate-up {
    transform: rotate(180deg);
    transition: transform 0.3s;
}

.rotate-down {
    transform: rotate(0deg);
    transition: transform 0.3s;
}

/* Responsive design */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin-bottom: 10px;
    }

    header h1 {
        font-size: 1.2rem;
    }

    #map-controls {
        flex-direction: column;
        align-items: flex-start;
    }

    #contact a {
        flex-direction: column;
        align-items: flex-start;
    }

    #contact i {
        margin-right: 0;
        margin-bottom: 5px;
    }
}

@media (max-width: 480px) {
    header nav ul li a {
        font-size: 14px;
    }

    #map-controls {
        align-items: center;
    }

    #radiusSliderContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    #addressInput {
        margin-left: 0;
        margin-top: 10px;
    }

    #darkModeToggle {
        margin-left: 0;
        margin-top: 10px;
    }
}

footer {
    background-color: var(--header-background-color);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid gray;
    color: var(--text-color);
}
