body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 50px;
    color: red;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Mobile only styles */
@media only screen and (max-width: 600px) {
    /* Styles for mobile devices */
}
